fastapi
uvicorn
python-multipart
PyMuPDF
together
python-dotenv
tensorflow
keras
librosa
scikit-learn
opencv-python-headless
psutil
moviepy==1.0.3
pydub
SpeechRecognition
fer
tf-keras     
mediapipe
deepface
numpy
protobuf==4.25.3
opencv-python 
pydantic[email]